{{#layout}}

<div class="content">

    <img src="/images/wm_cloud.png" alt="Wiremock logo" style="width: 500px"/>

    <h1>All Demos</h1>

    <p>
        <a href="/user" title="OAuth2 user info">OAuth2 user login</a>
    </p>

    <p>
        <a href="/todo" title="To Do list">To do list</a>
    </p>

    <p>The source code for this application can be found on <a href="https://github.com/wiremock/wiremock-cloud-demo-app" title="Source code">GitHub</a></p>
</div>

{{/layout}}