{{#layout}}

<div class="content">

    <img src="/images/mocklab_logo_with_text.png" alt="MockLab logo" style="width: 500px"/>

    <h1>MockLab - All Demos</h1>

    <p>
        <a href="/user" title="OAuth2 user info">OAuth2 user login</a>
    </p>
</div>

{{/layout}}