<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Cairo:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.png" />

    <title>MockLab Demo App</title>
</head>

<body>
    <nav class="header-nav sticky">
        <ul class="header-nav__container">
            <li class="header-nav__logo">
                <a href="/">
                    <img src="/images/mocklab_logo_with_text.png" title="MockLab logo">
                </a>
            </li>

            <li class="header-nav__item">
                <a href="/" title="All Demos">All Demos</a>
            </li>

            <li class="header-nav__item">
                <a href="https://github.com/mocklab/mocklab-demo-app" title="Demo app source code">
                    <img src="/images/GitHub-Mark-64px.png" alt="GitHub logo" style="height: 20px; vertical-align: middle; margin-right: 3px"/>
                    Source code
                </a>
            </li>

            <li class="header-nav__item header-nav__item--last">
                <form method="post" action="/logout">
                    <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
                    <input type="submit" value="Logout" class="logout-button"/>
                </form>
            </li>

            <li class="header-nav__cta">
                <a href="https://app.mocklab.io/login?for=signup" title="Sign up" target="_blank">Sign up to MockLab</a>
            </li>
        </ul>

    </nav>

    <div id="main">
    {{{layout.body}}}
    </div>
</body>
</html>