{{#layout}}
<h1>OAuth2 / OpenID Connect Login Demo</h1>

<div>
    <a href="/oauth2/authorization/mock-oauth2">Mock OAuth2 login</a>
</div>

<div>
    <a href="/oauth2/authorization/mock-oidc">Mock OpenID connect login</a>
</div>
{{/layout}}