{{#layout}}
<h1>OAuth2 / OpenID Connect Login Demo</h1>

<p>
    This demo showcases MockLab's simulation of a generic OAuth2 / OpenID Connect login provider.
</p>

<div id="real-mock-toggle">
    <a href="/login?type={{toggleType}}" class="button">Switch to {{toggleType}} login</a>
</div>

<div class="demo-box-container">
    <div class="demo-box">
        <p>
            {{#real}}
                Sign in with the real Google login flow.
            {{/real}}
            {{^real}}
                Sign in from the MockLab simulation using an OpenID Connect flow compatible with Google's.
            {{/real}}
        </p>
        <p>
            <a href="/oauth2/authorization/{{loginProvider}}">
                <img src="/images/btn_google_signin_dark_normal_web@2x.png" alt="Google sign-in" style="width:40%"/>
            </a>
        </p>
    </div>
</div>
{{/layout}}