{{#layout}}
<h1>OAuth2 / OpenID Connect Login Demo</h1>

<p>
    <a href="/oauth2/authorization/mock-oauth2" class="login-start-button">
        <img src="/images/oauth-2-logo.png" alt="OAuth2 logo"/>
        Login with OAuth2
    </a>
</p>

<p>
    <a href="/oauth2/authorization/mock-oidc" class="login-start-button">
        <img src="/images/openid-icon-100x100.png" alt="OpenID Connect logo" />
        Login with OpenID Connect
    </a>
</p>
{{/layout}}